header.header
  .container
    .header-top
      .header-logo
        .header-row
          .header-cell
            a(href="index.html", title="Logo GIÁO DỤC SỚM VSK")
              img(src="assets/img/logo.png", width="81", height="80", alt="Logo GIÁO DỤC SỚM VSK")
          .header-cell
            h1 GIÁO DỤC SỚM VSK
            p VIỆN NGHIÊN CỨU GIÁO DỤC TRẺ THÔNG MINH SỚM VSK
      a.header-contact(href="tel:09360570846", title="Call 09360570846") GẶP CHUYÊN GIA <span>09360570846</span>

    .header-content
      .header-cell
        .header-topic
          h2 CHƯƠNG TRÌNH THAI GIÁO
          h3 Hành trình 40 tuần <span>kết nối yêu thương</span>
          p VSK đồng hành cùng mẹ bầu để giúp bé thông minh, khỏe mạnh, phát triển cảm xúc và các giác quan ngay từ trong bào thai
    a.header-scroll(href="#panel-reason", title="Scroll down", data-action="scroll") Scroll down
///.header