meta(charset="utf-8")
block head
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="format-detection" content="telephone=no")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
link(rel="shortcut icon", href="../assets/img/favicon.ico")
link(href="https://fonts.googleapis.com/css?family=Lobster|Oswald:300|Roboto+Condensed|Roboto:300,300i,400,400i,500,500i,700|Taviraj:700" rel="stylesheet")
script(src="https://www.google.com/recaptcha/api.js" async defer)