extends layouts/_full-width.pug
block head
  +head(
  'Homepage | Bibook',
  'description',
  'keywords',
  'description_social',
  'image_social',
  'url_social',
  'type_social'
  )

block content
  section.panel-reason#panel-reason
    .container
      .reason-heading
        h3 Mẹ bầu có biết ?
        p Những căng thẳng khi mang bầu dù ít hay nhiều đều có ảnh hưởng đến thai nhi?<br>Với nhịp sống hiện đại ngày nay, mẹ bầu đón nhận rất nhiều những căng thẳng, áp lực đến từ công việc, các quan hệ xã hội hoặc ngay trong chính gia đình của mình. Và điều này thực sự nguy hiểm.
        h4 Mẹ bầu căng thẳng ảnh hưởng đến thai nhi như thế nào?
      .reason-content
        .row
          +reason-item('assets/img/data/article-271x180-1.jpg', 'NGUY CƠ MẮC BỆNH TIM', 'Nếu mẹ trải qua mức độ cực kỳ căng thẳng khi mang thai em bé sẽ có nguy cơ mắc bệnh tim cao hơn so với những đứa trẻ khác.')
          +reason-item('assets/img/data/article-271x180-2.jpg', 'NGUY CƠ BỊ TĂNG ĐỘNG HAY TỰ KỶ, CHẬM NÓI', 'Khi mẹ căng thẳng, lượng hoóc-môn cortisol và dolpamine trong máu sẽ gia tăng và đi qua nhau thai. Những mẹ bị trầm cảm, hệ thống tuyến nội tiết của em bé bị ảnh hưởng nên dễ mắc chứng tự kỷ. Đây cũng là nguyên nhân khiến trẻ chậm phát triển ngôn ngữ.')
          +reason-item('assets/img/data/article-271x180-3.jpg', 'SINH NHẸ CÂN, THIẾU THÁNG', 'Dưới tác động của stress, hoóc-môn  Epinephrine, Norepinephrine và Cortisol được giải phóng và làm co mạch, giảm lưu lượng máu đến nuôi dưỡng thai nhi qua dây rốn. Điều đó ảnh hưởng đến sự phát triển cả về thể chất và tinh thần của em bé.')
          +reason-item('assets/img/data/article-271x180-4.jpg', 'TĂNG NGUY CƠ NHIỄM KHUẨN', 'Khi hàm lượng Cortisol tăng tiết trong một thời gian dài thì hệ thống miễn dịch của cơ thể bị suy yếu và vi khuẩn sẽ lên ngôi.')
          +reason-item('assets/img/data/article-271x180-5.jpg', 'GIẢM KHẢ NĂNG GHI NHỚ VÀ HỌC TẬP', 'Một nghiên cứu về khả năng học tập và trí nhớ của 112 trẻ 6 tuổi cho thấy: Mẹ  bầu có rối loạn lo âu trong thời kỳ đầu của thai kỳ ảnh hưởng tới chỉ số tập trung, chú ý ở trẻ.')
          +reason-item('assets/img/data/article-271x180-6.jpg', 'EM BÉ CÓ THỂ BỊ ĐỒNG TÍNH', '(Theo nghiên cứu của Dick Swaab - gs Đại học Amsterdam): Các hormone cortisol cũng ảnh hưởng đến việc sản xuất hormone giới tính cho thai nhi.')
  ///.panel-reason
  = '\n'

  section.panel-solution
    .container
      h3.solution-heading VẬY <span>Có cách nào phòng tránh, cải thiện tình trạng căng thẳng khi mang bầu hay không?</span>
      .solution-content
        p Rất may mắn khi câu trả lời là có. Một dự án cho các mẹ bầu của Viện nghiên cứu giáo dục trẻ thông minh sớm VSK đã có nhiều minh chứng thành công về việc giúp các mẹ bầu giảm thiểu tối đa những căng thẳng trong cuộc sống hàng ngày và giúp giảm thiểu rủi ro cho thai nhi khi mẹ stress.<br>Việc cải thiện môi trường bên trong tử cung người mẹ giúp các em bé yên tâm phát triển toàn diện cả về thể chất và tinh thần.<br>Hãy tạo ra một môi trường sống phù hợp cho trẻ ngay từ khi còn trong bụng mẹ, để giúp em bé có một tâm lý ổn định, hài hòa và vui vẻ hơn.
        h4 Giải pháp mà chúng tôi muốn nói đến ở đây đó chính là việc mẹ bầu <span>thực hành thai giáo cho con</span>
        p Thai giáo là gì? Nó có tác dụng như thế nào? Tôi có áp dụng được không? Bạn có thể tìm hiểu rõ hơn qua video ngắn mà VTV1 đã thực hiện về chương trình thai giáo của VSK ở dưới đây:
        .panel-media
          iframe(width="560", height="315", src="https://www.youtube.com/embed/eO2aSssk89Y", frameborder="0", allowfullscreen)
  ///.panel-solution
  = '\n'

  section.panel-course
    .container
      .course-banner
        .course-group
          .course-heading
            h3 CHƯƠNG TRÌNH THAI GIÁO
            p Kết nối yêu thương
        p.course-description Chương trình duy nhất tại VIỆT NAM được nghiên cứu và thực nghiệm trong suốt 6 năm qua bởi những chuyên gia thuộc Viện nghiên cứu giáo dục trẻ thông minh sớm VSK. Chương trình là hệ thống các hoạt động được chuyên gia hướng dẫn chi tiết, cụ thể theo từng NGÀY-TUẦN-THÁNG cùng bạn chăm sóc con yêu trong suốt thai kỳ.
        p.course-note Tất cả những gì có ích nhất cho con và cho mẹ đều nằm ở đây
      .course-list
        +course-item('assets/img/data/course-98x98-1.jpg', 'Lịch tuần thai giáo', 'Bạn sẽ biết chính xác việc mình cần làm từng ngày cụ thể trong suốt 40 tuần thai kỳ để đảm bảo cho con được phát triển tốt nhất.')
        +course-item('assets/img/data/course-98x98-2.jpg', 'Cẩm nang thai giáo', '90 cẩm nang giúp mẹ biết cách phát triển nhận thức và các giác quan để con thông minh, khỏe mạnh hơn mỗi ngày.')
        +course-item('assets/img/data/course-98x98-3.jpg', 'Thai giáo dinh dưỡng', 'Mẹ bầu sẽ không phải nghĩ xem mình nên ăn gì và không nên ăn gì mỗi ngày, các chuyên gia của chúng tôi đã giúp bạn làm điều đó.')
        +course-item('assets/img/data/course-98x98-4.jpg', 'Thai giáo âm nhạc', 'Những bản nhạc thuộc bản quyền Phương án 0 tuổi và các bản nhạc cổ điển chọn lọc giúp bé phát triển cảm thụ âm nhạc trong suốt quá trình trưởng thành.')
        +course-item('assets/img/data/course-98x98-5.jpg', 'Thai giáo nghệ thuật', 'Hướng dãn mẹ tự làm những món đồ xinh xắn trong thời gian mang bầu sẽ giúp mẹ thư giãn và phát triển trí thông minh của thai nhi.')
        +course-item('assets/img/data/course-98x98-6.jpg', 'Thai giáo mỹ thuật', 'Ngắm những bức tranh của các họa sĩ nổi tiếng thế giới giúp mẹ và con phát triển trí tưởng tượng và gout thẩm mỹ.')
        +course-item('assets/img/data/course-98x98-7.jpg', 'Thai giáo ngôn ngữ', 'Đọc cho con những bài thơ hay là cách tuyệt vời nhất giúp cho con phát triển ngôn ngữ giao tiếp sớm với cảm xúc tốt nhất.')
  ///.panel-course
  = '\n'

  section.panel-utility
    .container
      h3.utility-heading Và <span>Một chương trình thai giáo toàn diện, khoa học và xuất phát từ tình yêu của người mẹ sẽ đảm bảo:</span>
      .utility-content
        .row
          .col-xs-12.col-sm-6
            .utility-item.utility-baby
              h4.utility-title Lợi ích cho bé
              p.utility-media
                img(src="assets/img/data/utility-128x128-1.jpg", width="128", height="128", alt="Lợi ích cho bé")
              ul.utility-list
                li Bạn sẽ có một em bé thông minh, hợp tác ngay từ khi chào đời (ít khóc đêm, nhịp sinh hoạt đúng giờ, có tính cách vui tươi, hoạt bát, tự lập)
                li <strong>Phát triển toàn diện:</strong><br>90% Các em bé trong dự án “Thai giáo đặc biệt” của Viện nghiên cứu phát triển toàn diện về trí – lực. Thông minh, mạnh khỏe và có sức đề kháng tốt hơn.
                li Ưu việt: Các em bé được thai giáo ưu việt hơn vì được phát triển não bộ thời kỳ gia tăng mạnh mẽ nhất về mặt số lượng kết nối thần kinh.
                li Khả năng ghi nhớ tốt hơn.
                li Các giác quan nhạy bén hơn nhờ các bài tập mà mẹ tác động khoa học.
                li Được mẹ định hình tính cách và các phẩm chất tốt đẹp từ trong tiềm thức.
          .col-xs-12.col-sm-6
            .utility-item.utility-mommy
              h4.utility-title Tuyệt vời cho mẹ
              p.utility-media
                img(src="assets/img/data/utility-128x128-2.jpg", width="128", height="128", alt="Tuyệt vời cho mẹ")
              ul.utility-list
                li Với những bài tập thư giãn và khẳng định tích cực trong trương trình sẽ giúp mẹ “Tâm an”, giảm thiểu rủi ro stress đem lại.
                li Tăng sợi dây kết nối giữa mẹ và thai nhi. Em bé sẽ dễ dàng hòa hợp với gắn bó với mẹ.
                li Dinh dưỡng khoa học và đủ chất từ những món ăn đặc biệt trong chương trình cũng được gửi tới mẹ.
  ///.panel-utility
  = '\n'
  section.panel-credibility
    .container
      h3.credibility-heading Bạn băn khoăn <span>Chương trình này của chúng tôi dựa trên cơ sở khoa học nào?</span>
      .credibility-block
        h5.credibility-title 1.Các nhà khoa học hàng đầu thế giới đã nghiên cứu và nói về thai giáo hàng chục năm nay:
        .row
          +credibility-item('assets/img/data/credibility-146x146-1.jpg', '<strong>Tiến sỹ Thomas Verny</strong> (Chủ tịch Hiệp hội Sức khỏe - Tâm lý Tiền và Hậu sản – APPPAH): “Các bằng chứng về sự sống thông minh trong bào thai đang hiện diện khắp nơi. Kiến thức mới này cho phép cha  mẹ có thể đóng góp một cách tích cực, trước và trong khi sinh, cho đứa con yêu quý của mình sức khỏe, hạnh phúc và cảm giác an toàn trong suốt cuộc sống sau này.')
          +credibility-item('assets/img/data/credibility-146x146-2.jpg', '<strong>Giáo sư Peter Hepper</strong> ( GĐ của TT Nghiên cứu Hoạt động của Bào thai - Đại Học Queen, Belfast): “38 tuần phát triển đầu tiên của thai nhi đã từng là bí mật. Sự hiểu biết sâu hơn về phát triển của bào thai mang đến cơ hội để nâng cao sức khỏe, cảm xúc và tâm lý của thai nhi và cung cấp cho các em bé sự khởi đầu tốt nhất có thể.”')
          +credibility-item('assets/img/data/credibility-146x146-3.jpg', '<strong>Giáo sư Bruce Lipton</strong> (Tiến sỹ Sinh vật học về phát triển tế bào):  “Các bước tiến gần đây trong ngành sinh học tế bào đã chỉ ra rằng:Thái độ và lòng tin của cha mẹ có ảnh hưởng mạnh mẽ đến quá trình mã hóa gen con của họ”')
      .credibility-block
        h5.credibility-title 2. Các tổ chức  nổi tiếng trên thế giới cũng nghiên cứu và ứng dụng:
        .row
          +credibility-item('assets/img/data/credibility-146x146-4.jpg', '<strong>Hiệp hội thai giáo Quốc tế - OMAEP:</strong> Tổ chức phi chính phủ đã hoạt động về thai giáo trong 34 năm, tư vấn đặc biệt trong hội đồng kinh tế xã hội của Liên Hợp Quốc.')
          +credibility-item('assets/img/data/credibility-146x146-5.jpg', '<strong>Đại học Thai giáo:</strong> Các bài tập thai giáo của trường “Đại học Thai giáo” của Hoa Kỳ do chuyên gia sản khoa Rene van de Carr sáng lập từ năm 1979.')
          +credibility-item('assets/img/data/credibility-146x146-6.jpg', '<strong>Viện nghiên cứu giáo dục trẻ thông minh sớm VSK:</strong> Được thành lập năm 2010, là tổ chức đầu tiên chuyển giao, nghiên cứu và triển khai chương trình giáo dục thời kỳ sớm tại Việt Nam.')
      .credibility-block
        .credibility-item
          h5.credibility-title 3. ĐẶC BIỆT PHƯƠNG PHÁP THAI GIÁO SISEDIKE <span>(một trong những phương pháp mà chúng tôi ứng dụng)</span>
          p Trường hợp thành công nhất trong lịch sử thai giáo thế giới đã áp dụng phương pháp này (gia đình vợ chồng người Mỹ - Nhật Sisedike). Họ đã có 4 em bé thần đồng được thế giới công nhận.

  ///.panel-credibility
  = '\n'
  section.panel-pricing
    .container
      .pricing-block
        h3.pricing-heading KHOẢN ĐẦU TƯ CHO TƯƠNG LAI NÀY <span>Đáng giá bao nhiêu?</span>
        p.pricing-summary Chương trình nghiên cứu thuộc dự án “Đổi thay thế giới từ một cách nhìn”, hướng tới tất cả các em bé đều được mẹ thai giáo nên chỉ áp dụng một khoản phí trị giá <strong><span>890.000 VNĐ</span> trong suốt 40 tuần đồng hành cùng con</strong>.
        p.pricing-summary Với một khoản chi phí rất nhỏ để có một thai kỳ an toàn, khỏe mạnh, một hậu thai kỳ hạnh phúc, viên mãn cùng con yêu phát triển tốt nhất về trí – lực như vậy có xứng đáng để bạn đầu tư hay không?
        h5.pricing-title Và đặc biệt
        p.pricing-media
          img(src="assets/img/data/pricing-314x230.jpg", width="314", height="230", alt="Đổi thay thế giới từ một cách nhìn")
        p Như vậy, mẹ bầu không có bất kỳ rủi ro nào khi tham gia khóa thực hành của VSK. Rủi ro duy nhất là nếu bạn không chủ động mang lại những điều tốt đẹp cho con yêu của bạn, gia đình bạn và chính bạn thì sau này có thể bạn sẽ phải hối tiếc vì mình đã chần chừ.
        p Nếu bạn thấy không hài lòng với khóa học này, bạn chỉ cần gửi mail về địa chỉ support.vsk@gmail.com, bạn sẽ được hoàn tiền 100%. Thời gian hoàn trả lên đến 01 năm kể từ ngày đăng ký học
  ///.panel-pricing
  = '\n'
  section.panel-testimonial
    .container
      h3.testimonial-heading Cảm nhận của các Mẹ <span>Đã sử dụng chương trình thai giáo của <span>VSK</span></span>
      .testimonial-carousel.owl-carousel(data-carousel='{"items": 1, "loop": true, "center": false, "margin": 0, "autoWidth": false, "rtl": false, "autoHeight": false, "autoplay": true, "autoplayTimeout": 5000, "nav": false, "dots": true}')
        +testimonial-item('#', 'Click để xem video chia sẻ của mẹ Nam Phương trên VTV1', 'assets/img/data/slider-450x310.jpg', 'assets/img/data/slider-1020x310.jpg', 'Những bài tập với thẻ cam giúp con mình hình dung ra khuôn mặt Pizza lúc chào đời đến 90%, cảm ơn thai giáo đã gắn kết bền chặt sợi dây tình cảm giữa hai mẹ con mình.', 'Ngô Nam Phương - mẹ bé Pizza - Quận Hoàng Mai - HN')
        +testimonial-item('#', 'Click để xem video chia sẻ của mẹ Nam Phương trên VTV1', 'assets/img/data/slider-450x310.jpg', 'assets/img/data/slider-1020x310.jpg', 'Những bài tập với thẻ cam giúp con mình hình dung ra khuôn mặt Pizza lúc chào đời đến 90%, cảm ơn thai giáo đã gắn kết bền chặt sợi dây tình cảm giữa hai mẹ con mình.', 'Ngô Nam Phương - mẹ bé Pizza - Quận Hoàng Mai - HN')
        +testimonial-item('#', 'Click để xem video chia sẻ của mẹ Nam Phương trên VTV1', 'assets/img/data/slider-450x310.jpg', 'assets/img/data/slider-1020x310.jpg', 'Những bài tập với thẻ cam giúp con mình hình dung ra khuôn mặt Pizza lúc chào đời đến 90%, cảm ơn thai giáo đã gắn kết bền chặt sợi dây tình cảm giữa hai mẹ con mình.', 'Ngô Nam Phương - mẹ bé Pizza - Quận Hoàng Mai - HN')
        +testimonial-item('#', 'Click để xem video chia sẻ của mẹ Nam Phương trên VTV1', 'assets/img/data/slider-450x310.jpg', 'assets/img/data/slider-1020x310.jpg', 'Những bài tập với thẻ cam giúp con mình hình dung ra khuôn mặt Pizza lúc chào đời đến 90%, cảm ơn thai giáo đã gắn kết bền chặt sợi dây tình cảm giữa hai mẹ con mình.', 'Ngô Nam Phương - mẹ bé Pizza - Quận Hoàng Mai - HN')
      .testimonial-video
        a(href="#", title="Click để xem video chia sẻ của mẹ Nam Phương trên VTV1") Click để xem video chia sẻ của mẹ Nam Phương trên VTV1
  ///.panel-testimonial
  = '\n'
  section.panel-join
    .container
      h2.join-heading Vậy <span>Tôi sẽ làm thế nào để tham gia chương trình này ?</span>
      .join-content
        .row
          .col-xs-12.col-sm-4
            .join-item
              .join-media
                img(src="assets/img/data/join-98x98-1.jpg", width="98", height="98", alt="Tạo tài khoản")
              h5.join-title Tạo tài khoản
              p.join-summary Bạn sẽ tạo nhanh một tài khoản bằng chính số điện thoại của mình. Tài khoản này sẽ dùng để sử dụng chương trình trên cả điện thoại và trên máy tính hoặc máy tính bảng
          .col-xs-12.col-sm-4
            .join-item
              .join-media
                img(src="assets/img/data/join-98x98-2.jpg", width="98", height="98", alt="Mua chương trình")
              h5.join-title Mua chương trình
              p.join-summary Bạn có thể mua chương trình qua hình thức chuyển khoản, nạp bằng thẻ cào điện thoại hoặc các cổng thanh toán trực tuyến khác. Ngay sau khi thanh toán thành công, khóa học của bạn sẽ được kích hoạt
          .col-xs-12.col-sm-4
            .join-item
              .join-media
                img(src="assets/img/data/join-98x98-3.jpg", width="98", height="98", alt="Tải ứng dụng và sử dụng")
              h5.join-title Tải ứng dụng và sử dụng
              p.join-summary Bạn có thể sử dụng chương trình bất cứ ở đâu, bát cứ lúc nào. Bạn có thể tải ứng dụng trên các kho ứng dụng của:
              p.join-handle
                a(href="#", title="Available on the App Store")
                  img(src="assets/img/btn-app-store.png", width="127", height="36", alt="Available on the App Store")
                a(href="#", title="Get it on Google Play")
                  img(src="assets/img/btn-google-play.png", width="127", height="36", alt="Get it on Google Play")
              h5.join-other Hoặc sử dụng trực tiếp tại trang web
              p.join-option
                a(href="#", title="www.giaoducsom.com") www.giaoducsom.com
  ///.panel-join
  = '\n'
  section.panel-register
    .container
      h3.register-heading VSK <span>không bán cho bạn một khóa học - chúng tôi cung cấp cho bạn một giải pháp</span>
      p.register-explain Chính xác hơn là bạn đang đầu tư một giải pháp hiệu quả để giúp con yêu của bạn được ngoan ngoãn, tính tình vui vẻ, ít quấy khóc, phát triển tốt nhất cả về thể chất và tinh thần. Đồng thời giúp bạn có một cuộc sống sau sinh nhẹ nhàng hơn.
      p.register-notice Bạn có muốn DÀNH TẶNG món quà tuyệt vời này cho con yêu không?
      p.register-invitation Ưu đãi dành riêng cho bạn, nếu mua sớm ngay bây giờ
      .register-pricing <span class="pricing-old">890.000đ</span> <span class="pricing-only">Chỉ còn</span> <span class="pricing-new">599.000đ</span>
      .register-deadline
        p Ưu đãi giá này sẽ hết hiệu lực sau:
        .register-countdown(data-countdown="2025/11/25 12:34:56")
      .register-form
        .row
          .col-xs-12.col-sm-6
            .register-control
              label.register-label(for="your_name") Họ và tên
              input.form-control#your_name(type="text", name="your_name", placeholder="Họ và tên")
          .col-xs-12.col-sm-6
            .register-control
              label.register-label(for="your_phone") Số điện thoại
              input.form-control#your_phone(type="tel", name="your_phone", placeholder="Số điện thoại")
              .register-suggest Số điện thoại sẽ chính là tài khoản đăng nhập của bạn
        .register-action
          a.register-btn#register-btn(href="#modal-register", data-fancybox="true")
            span Mua chương trình thai giáo
        p.register-time Trước tuần 30 của thai kỳ, bạn vẫn còn <strong>nguyên cơ hội,</strong> <br>nhưng sau tuần 30 bạn chỉ còn <i>dưới 50% cơ hội</i> để cải thiện tình trạng quấy khóc <br>và cho con một khởi đầu tốt nhất
        p.register-support Nếu bạn cần được trợ giúp và tư vấn thêm
        .register-utility
          .register-item.register-chart
            a(href="#", title="Chat với chúng tôi") Chat với chúng tôi
          .register-option hoặc
          .register-item.register-call
            a(href="tel:09360570846") GẶP CHUYÊN GIA <span>0936 0570 846</span>
  ///.panel-register
  = '\n'
  .panel-video
    .container
      h3.video-heading Video clip một số em bé đã được áp dụng thai giáo và niềm vui của các mẹ
      .video-carousel.owl-carousel(data-carousel='{"items": 1, "video":true, "lazyLoad":false, "loop": true, "center": false, "margin": 0, "autoWidth": false, "rtl": false, "autoHeight": false, "autoplay": true, "autoplayTimeout": 5000, "nav": false, "dots": true, "responsive": {"0" : {"items": 1, "loop": true}, "768" : {"items": 2, "margin": 20, "loop": true}, "992" : {"items": 3, "margin": 40, "loop": true}}}')
        +video-item('https://www.youtube.com/watch?v=dZdr3BA31YE', 'Bé 3 ngày tuổi đã có thể tập ngẩng đầu')
        +video-item('https://www.youtube.com/watch?v=XEqAwK0onKw', 'Bé 3 ngày tuổi đã có thể tập ngẩng đầu')
        +video-item('https://www.youtube.com/watch?v=VjrEXH_FtsA', 'Bé 3 ngày tuổi đã có thể tập ngẩng đầu')
        +video-item('https://www.youtube.com/watch?v=fznEsRyyaB8', 'Bé 3 ngày tuổi đã có thể tập ngẩng đầu')
  ///.panel-video
  = '\n'

  .modal.modal-register.none#modal-register
    .modal-content
      .row
        .col-sm-4
        .col-sm-8
          ul.step-list
            li.step-item.step-active.step-finish
              .step-number 1
              .step-desc TẠO TÀI KHOẢN
            li.step-item
              .step-number 2
              .step-desc THANH TOÁN
      .row
        .col-sm-4
        .col-sm-8
          h3.modal-heading TẠO TÀI KHOẢN
      form#register-form(action="index.html" data-form="validate")
        .row
          .col-sm-4
            label.modal-label(for="reg_phone") Điện thoại*
          .col-sm-8
            .form-group
              input.modal-control#reg_phone(type="tel", name="reg_phone", value="0978 665 423")
        .row
          .col-sm-4
            label.modal-label(for="reg_name") Họ tên*
          .col-sm-8
            .form-group
              input.modal-control#reg_name(type="text", name="reg_name", value="Lê Kim Lan")
        .row
          .col-sm-4
            label.modal-label(for="reg_pass") Mật khẩu*
          .col-sm-8
            .form-group
              input.modal-control#reg_pass(type="password", name="reg_pass")
        .row
          .col-sm-4
            label.modal-label(for="reg_pass_confirm") Xác nhận mật khẩu*
          .col-sm-8
            .form-group
              input.modal-control#reg_pass_confirm(type="password", name="reg_pass_confirm")
        .row
          .col-sm-4
          .col-sm-8
            .modal-recaptcha
              .g-recaptcha(data-sitekey="6LcopOIrAAAAAIpvmA1uQN2v4Y3m5hZsMoshhkLo")
        .row
          .col-sm-2
          .col-sm-10
            .modal-notice
              p Số điện thoại sẽ chính là tài khoản đăng nhập của bạn hãy chắc chắn rằng bạn đã nhập đúng số điện thoại của mình
        .row
          .col-sm-4
          .col-sm-8
            .modal-handle
              button.modal-submit(type="submit") TẠO TÀI KHOẢN & THANH TOÁN
            .modal-other Bạn đã có tài khoản? <a href="#" title="Đăng nhập">Đăng nhập</a>

  .modal.modal-payment.none#modal-payment
    .modal-content
      ul.step-list
        li.step-item.step-active.step-finish
          .step-number 1
          .step-desc TẠO TÀI KHOẢN
        li.step-item.step-active
          .step-number 2
          .step-desc THANH TOÁN
      .modal-message Chúc mừng <span>Lê Kim Lan</span> đã tạo tài khoản thành công
      h3.modal-heading thanh toán
      .modal-suggest Chọn một trong các hình thức thanh toán dưới đây
      ul.modal-method
        li
          a.modal-table(href="#modal-delivery", data-modal="show" data-src="#modal-delivery")
            span.modal-cell
              span.payment-title Thanh toán qua chuyển khoản online (internet banking)
              span.payment-desc Bạn sẽ được tặng 100K vào tài khoản nếu chọn hình thức thanh toán này
        li
          a.modal-table(href="#modal-recharge", data-modal="show" data-src="#modal-recharge")
            span.modal-cell
              span.payment-title Thanh toán qua thẻ cào điện thoại (Viettel, Vina, Mobi)
        li
          a.modal-table(href="#modal-delivery", data-modal="show" data-src="#modal-delivery")
            span.modal-cell
              span.payment-title Giao hàng tận nhà (Nhận thẻ rồi thanh toán)
              span.payment-desc Bạn sẽ nhận được thẻ sau 1 đến 3 ngày

  .modal.modal-recharge.none#modal-recharge
    .modal-content
      .row
        .col-sm-3
        .col-sm-9
          ul.step-list
            li.step-item.step-active.step-finish
              .step-number 1
              .step-desc TẠO TÀI KHOẢN
            li.step-item.step-active
              .step-number 2
              .step-desc THANH TOÁN
      h3.modal-heading thanh toán
      p.modal-message-card Bạn đã nạp thành công: <span class="modal-pricing-success">300.000 đồng</span>.<br>Còn thiếu <span class="modal-pricing-missing">199.000 đồng</span> nữa để thanh toán chương trình THAI GIÁO
      p.modal-message-phone Thanh toán qua thẻ cào điện thoại - chọn loại thẻ
      form#recharge-form(action="index.html", data-form="validate")
        .modal-group.modal-group-radio
          label.modal-radio
            input(type="radio", name="networking", checked=true)
            span Mobifone
          label.modal-radio
            input(type="radio", name="networking")
            span Vinaphone
          label.modal-radio
            input(type="radio", name="networking")
            span Viettel
        .row
          .col-sm-3
            label.modal-label(for="card_series") Số series
          .col-sm-9
            .form-group
              input.modal-control#card_series(type="number", name="card_series")
        .row
          .col-sm-3
            label.modal-label(for="card_pin") Số PIN (mã thẻ)
          .col-sm-9
            .form-group
              input.modal-control#card_pin(type="number", name="card_pin")
              p.modal-recharge-sugget Cào lớp phủ bạc bạn sẽ thấy số PIN <br>Số series là dãy số in sẵn bên ngoài lớp phủ bạc
        .row
          .col-sm-3
          .col-sm-9
            .modal-handle
              button.modal-submit(type="submit") NẠP THẺ
            a.modal-back(href="#modal-payment", data-src="#modal-payment", data-modal="show") Quay lại chọn hình thức thanh toán khác

  .modal.modal-refill.none#modal-refill
    .modal-content
      ul.step-list
        li.step-item.step-active.step-finish
          .step-number 1
          .step-desc TẠO TÀI KHOẢN
        li.step-item.step-active
          .step-number 2
          .step-desc THANH TOÁN
      h3.modal-heading thanh toán
      p.modal-message-card Bạn đã nạp thành công: <span class="modal-pricing-success">500.000 đồng</span>.<br>Số tiền để mua chương trình THAI GIÁO là <span class="modal-pricing-need">499.000 đồng</span><br>(Bạn sẽ còn dư <span class="modal-pricing-residual">1000 đồng</span> trong tài khoản)
      p.modal-message-phone Thanh toán qua thẻ cào điện thoại - chọn loại thẻ
      .modal-handle
        a.modal-submit(href="#modal-finish", data-modal="show") THANH TOÁN CHƯƠNG TRÌNH THAI GIÁO

  .modal.modal-finish.none#modal-finish
    .modal-content
      ul.step-list
        li.step-item.step-active.step-finish
          .step-number 1
          .step-desc TẠO TÀI KHOẢN
        li.step-item.step-active.step-finish
          .step-number 2
          .step-desc THANH TOÁN
      p.modal-message-success Chúc mừng bạn đã mua thành công chương trình <br>THAI GIÁO
      .modal-handle
        a.modal-submit#modal-watch(href="#") VÀO XEM CHƯƠNG TRÌNH

  .modal.modal-delivery.none#modal-delivery
    .modal-content
      .row
        .col-sm-3
        .col-sm-9
          ul.step-list
            li.step-item.step-active.step-finish
              .step-number 1
              .step-desc TẠO TÀI KHOẢN
            li.step-item.step-active
              .step-number 2
              .step-desc THANH TOÁN
      h3.modal-heading thanh toán
      p.modal-message-delivery <span>Giao hàng tận nơi - nhận thẻ rồi thanh toán </span><br>(Bạn sẽ nhận được thẻ trong 24h nếu ở Hà Nội - các tỉnh thành khác là 2-3 ngày<br>Thẻ được giao trong giờ hành chính - các tỉnh ngoài Hà Nội không tính thứ 7 - Chủ Nhật)
      form#delivery-form(action="index.html", data-form="validate")
        .row
          .col-sm-3
            label.modal-label(for="delivery_name") Tên người nhận thẻ
          .col-sm-9
            .form-group
              input.modal-control#delivery_name(type="text", name="delivery_name", value="Lê Kim Lan")
        .row
          .col-sm-3
            label.modal-label(for="delivery_phone") Số điện thoại liên hệ
          .col-sm-9
            .form-group
              input.modal-control#delivery_phone(type="number", name="delivery_phone", value="0978665423")
        .row
          .col-sm-3
            label.modal-label(for="delivery_address") Địa chỉ nhận thẻ
          .col-sm-9
            .form-group
              textarea.modal-control#delivery_address(name="delivery_address")
        .row
          .col-sm-3
            label.modal-label(for="delivery_note") Ghi chú
          .col-sm-9
            .form-group
              input.modal-control#delivery_note(type="text", name="delivery_note")
        .row
          .col-sm-3
          .col-sm-9
            .modal-handle
              button.modal-submit(type="submit") ĐẶT MUA THẺ
            a.modal-back(href="#modal-payment", data-src="#modal-payment", data-modal="show") Quay lại chọn hình thức thanh toán khác

block script 
  +script('main.js')